@charset "UTF-8";
/**
 * 
 * @authors ${冰红茶} (${hblvsjtu@163.com})
 * @date    2019-07-31
 * @version $0.0.1$
 */

.contain {
	position: relative;
	top: 100px;
	left: 100px;
	height: 500px;
	width: 500px;
	overflow: scroll;
	background: yellow;
}

 .camera {
 	position: absolute;
 	top: 400px;
 	left: 400px;
 	width: 200px;
 	height: 200px;
    background: red;
 }
 .camera .cube {
 	width: 100px;
 	height: 100px;
 	margin: 50px;
 	background: green;
 }


